<!DOCTYPE html>
<html xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
 	<h:head>
    	<title>JSF 2.0 Hello World</title>
    </h:head>
    <h:body bgcolor="white">
    	<h2>JSF 2.0 Hello World Example</h2>
    	<h2>Welcome #{greetingBean.name}</h2>
    </h:body>
</html>